.App {
  text-align: center;
}
.content {
  margin-top: 90px;
}

.tab-header {
  margin-top: 80px;
}
.tab-content {
  margin-top: 10px;
}
.paper{
  margin: 10px 1% 10px;
  padding: 5%;
  color: black;
  color: rgba(0, 0, 0, 0.870588);
  background-color: rgb(255, 255, 255);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 10px, rgba(0, 0, 0, 0.07) 0px 3px 10px;
  border-radius: 2px;
  border-right:1px ;
  z-index: 2;
}

.paper-circle{
  color: rgb(48, 48, 48);
  background-color: rgb(255, 255, 255);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 50%;
}
.tab-paper{
  color: black;
  color: rgba(0, 0, 0, 0.870588);
  background-color: rgb(255, 255, 255);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 5px, rgba(0, 0, 0, 0.07) 0px 1px 5px;
  border-radius: 2px ;
  padding-bottom: 3%;
}

.card-number{
  font-size: 20px;
  color: rgba(157, 157, 157, 0.75);
  font-weight: bold;
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.list-row{
  margin-bottom: 1%;
}

.floating-button{
  margin-bottom: 20px;
  right: 50px;
  bottom: 50px;
  position: fixed;
  z-index:2;
}
.search-field{
  padding: 0 15px;
  margin: 10px 0;
}
.styles{
  border-right:1px solid #ECF0F1 ;
}

.container-background{
  background-color: rgb(250, 250, 250);
}
.user-data {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}