.login-box{
  display: inline-block;
  padding: 25px;
  border-radius: 5px;
  border: rgba(209, 209, 209, 0.82) 0.5px solid;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.login-text {
    margin-top: 20%;
}

.login-fields{
  margin:10px 0;

}
.password-button{
  align-self: right;
}

  /******************************* login  *************************/

.container-xs {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.input-wrapper.icon-left, .icon-inline-wrapper {
  padding-left: 48px;
  width: 100%;
}
.input-wrapper.bright {
  border-bottom-color: rgba(255, 255, 255, 0.15);
  border-bottom-width: 1px;
}
.input-wrapper, .icon-inline-wrapper {
  position: relative;
  min-height: 1em;
  border-bottom: solid thin rgba(74, 74, 74, 0.1);
  padding-top: 30px;
  padding-bottom: 12px;
  letter-spacing: .042em;
}
.input-wrapper.icon-left::before, .icon-inline-wrapper::before {
  position: absolute;
  top: 0;
  width: 36px;
  height: 100%;
  content: '';
  background-repeat: no-repeat;
  background-position: center bottom 16px;
  left: 6px;
}
.form-row .icon-user::before {
   background-image: url(../../public/input-icon-user-white.svg);
}
.form-row .icon-lock::before {
  background-image: url(../../public/input-icon-pwd-white.svg);
}


.m-t-2 {
  margin-top: 40px; }

.input-wrapper.bright input[type="text"], .input-wrapper.bright input[type="password"]{
    color: #ffffff;
}

.login-signup .input-wrapper input[type="text"]::input-placeholder,
.login-signup .input-wrapper input[type="password"]::input-placeholder {
  color: #fff !important;
  opacity: 1;
}

.t-align-c {
  text-align: center; }

.v-align-parent {
  position: relative;
  width: 100%;
  height: 100%;
  display: table; }

.v-align-content-mid {
  position: relative;
  display: table-cell;
  vertical-align: middle; }

form {
  position: relative;
  width: 100%; }

.form-row {
  position: relative;
  overflow: hidden; }
.form-row:after {
  content: "";
  display: table;
  clear: both; }

.bg-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.bg-mountains {
  background-image: url(../../public/bg-mountains.jpg); }

.login-body {
  font-size: 100%;
  color: #999999;
  font-weight: normal;
  font-style: normal;
  width: 100%;
  -webkit-font-smoothing: antialiased; 
}
.login-signup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 480px;
  overflow-x: hidden; }

.login-signup .logo-container img{ display: inline-block }
.login-signup .logo-container {
  margin-top: 40px;
  margin-bottom: 20px; }


.login-signup [class*="page-section-"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out; }

  
.login-signup .input-wrapper input[type="text"],
.login-signup .input-wrapper input[type="password"] {
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none; }

.login-signup .input-wrapper input[type="text"]::-webkit-input-placeholder,
.login-signup .input-wrapper input[type="password"]::-webkit-input-placeholder {
  /* Chrome */
  color: #fff; }

 
@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  } 
}
.login-signup .input-wrapper input[type="text"]:-webkit-autofill,
.login-signup .input-wrapper input[type="password"]:-webkit-autofill{
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.login-signup .form-footer input[type='submit']{
  font-size: 15px;
  line-height: 1.15em;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
  color: #4A4A4A;
  background-color: #B4BEB4;
  font-weight: bold;
  letter-spacing: .05em; 
}

.login-signup .content {
  padding-left: 24px;
  padding-right: 24px; 
}

.erroralert.erroralert-danger {
  background: #fe4339;
  border-color: #fe4339;
  color: #fff;
  padding: 2px 5px;
  text-align: center;
  font-size: 13px;
  margin-bottom: 10px;
  width: 100%;
}