.graph-paper{
  margin: 10px 1% 10px;
  color: black;
  color: rgba(0, 0, 0, 0.870588);
  background-color: rgb(255, 255, 255);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 7px, rgba(0, 0, 0, 0.07) 0px 2px 7px;
  border-radius: 2px;
}
a:hover{
  text-decoration: none;
}
.system-paper{
  margin: 10px 1% 10px;
  padding: 2% 5%;
  color: black;
  color: rgba(0, 0, 0, 0.870588);
  background-color: rgb(255, 255, 255);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 10px, rgba(0, 0, 0, 0.07) 0px 3px 10px;
  border-radius: 2px;
  border-right:1px ;
  z-index: 2;
}
.tile-stat{
  min-height: 90px;
}
.graph-title{
  margin: 0px 30px;
  padding-top: 20px; 
}
 .map {
   height: 300px;
 }
 /*-----21-05-18------*/
.wrapperAround
{
  margin-left:256px;
}
.padding-5
{
  padding:5px;
}
.customStyle-03
{
  text-align: right;
}
.shareSecStyle
{
  padding:16px;
  margin:16px;
  box-shadow:2px 1px 13px #ccc;
}
.btn-share button > div{
  background:#007bff;
}
.sharePerson
{
  padding:10px;
  font-size: 12px;
  color:#797575;
  text-decoration: underline;
  cursor: pointer;
}
.Select-clear-zone
{
  position:absolute !important;
  display:block !important;
  right:23px;
  top:0;
}
.Select-arrow-zone
{
  position:absolute !important;
  display:block !important;
  right:0;
  top:0;
}
.btn-share button > div > div > span
{
  color:#fff !important;
}
.shareSecStyle::before{
  content:"";
  display:table;
  clear:both;
}
.shareSecStyle > div
{
  height:auto !important;
}
.customStyle-03 > button:focus
{
outline:none;
}
.wrapper
{
margin:1%;
margin-bottom:0;
}
.customBorder
{
  border:1px solid #ccc;
  padding:1% ! important;
}
.color-white
{
  color:#fff !important;
}
.wrapper-01
{
  height: 91%;
  overflow: auto;
}
.customStyle
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.customPosition > div{
  position:fixed !important;  
}
.mapSection
{
  margin-top:90px;  
}
.parentWrapper > div > div
{
  overflow:  hidden !important;
}
.MarginB-20
{
  /* margin-bottom:7px !important; */
}
.customStyle-01
{
margin-top:2% !important;
padding:0 !important; 
}
.smallFont
{
  font-size: 12px;
  color:#000;
}
.paddingL-20
{
  padding-left:20px;
}
.noPersonDiv
{
  min-height:120px;
  width:100%;
  color:#ccc;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
}
.customStyle-02
{
  color:#3a78fe;
  font-weight:400;
  font-size:12px;
}
.wayp-dtl .card-title
{
  font-weight: 700;
  color:#716f6f;
}
.wayp-dtl .card-img-top
{
  height: 15vw;
    object-fit: cover;
}
.wayp-dtl .text-muted
{
  font-size:14px;
}
.way-dtl .card-text
{
  font-size: 14px;
    color: #6c757d!important;
    padding-top: 20px;
}
.IntegrationReactSelect-root-92
{
  height:150px !important;
}

.pace .pace-progress-inner {
  display: none;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  /* box-shadow: 0 0 10px #29d, 0 0 5px #29d; */
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/*Home-oVERLAY */
.home-overlay {
  position:fixed;
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.5);
  top:0;z-index:9999;
} 
.pace
{
  background:transparent;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
}
.pace .pace-activity{
  border-top-color: #dadbdb !important;
  border-left-color: #cccccc !important;
}
.pace .pace-progress {
  background:transparent;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
}
.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: solid 3px transparent;
  border-top-color: #0b81c2;
  border-left-color: #1680bd;
  border-radius: 30px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
  margin: auto;
}


 @media screen and (min-width: 1024px) {
   .map {
     height: 500px;
   }
 }



 /*dashboard*/
 /*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
      font-family: Roboto, sans-serif;
}

/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}
#map {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: red;
    display: block;
}

html, body {
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}
/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/*cards breackpoint*/
@media (min-width: 0) {
  .card-deck .card {
    flex: 0 0 calc(100% - 30px);
  }
}
@media (min-width: 576px) {
  .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}
@media (min-width: 768px) {
  .card-deck .card {
    flex: 0 0 calc(33.3333333333% - 30px);
  }
}
@media (min-width: 992px) {
  .card-deck .card {
    flex: 0 0 calc(33.333% - 30px);
  }
}
@media (min-width: 1200px) {
  .card-deck .card {
    flex: 0 0 calc(33.333% - 30px);
  }
}


/*theme */
.wayp-dtl{
  /* margin: -10% 0 0 0; */
}
/* .wayp-dtl .card-body
{
  padding-bottom:0px;
} */
.wayp-dtl .card-body .card{
  margin-bottom:1.25rem;
}
.main{margin-left:256px;max-width: calc(100% - 256px);}
h1{border:none}
body.pace-running:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1500;
  background-color: rgba(0, 0, 0, 0.5);
 }
/* .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
} */
.personDetailImg
{
  width: 100% !important;
  /* margin: auto !important; */
  height: auto !important;
  float: none !important;
  max-width:auto !important;
  min-width: auto !important;
  padding:5px;
  /* border:1px solid #000;   */
}
.personDetailImg img
{
  text-align: center;
  padding-top: 25px;
}

.thumbnail {
  height: 350px;
  width: 720px;
  display: block;
}

.thumbnail img {
  max-height: 100%;
  max-width: 100%;
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

.action-icon-edit, .action-icon-delete, .action-icon-share 
{
  float: right;
}
.uploading-progress
{
  margin-top: 13px;
  padding-left: 3px;
  padding-right: 3px;
}
.delete-person-button
{
  color: #fff !important;
}
.cursor-pointer
{
  cursor: pointer;
}
.href-link
{
  color: #007bff;
}
.share-dialog-body
{
  margin-top: 35px;
}
.person-time
{
  margin-top: 15px;
  padding: 0px !important;
}
.marging-top-20
{
  margin-top: 20px;  
}
.edit-person-image
{
  margin-top: 9px;
  margin-left: 20px;
}
.backgroundColor-primary
{
  background: purple;
  color: #fff !important;
}
.align-title-w{
  margin-bottom: 0px;
  padding: 12px;
}
.shared-list
{
  padding-left: 0;
  margin-top: 18px;
}
.shared-list-subheader
{
  padding-left: 0px !important;
  color: black !important;
}