.pagination {
  list-style: none;
  padding: 8px;
  display: inline-block;
}

.pagination>li>a:focus{
  background: #1A9481;
  color: #fff;
}
.pagination a {
  border-radius: 50%;
  color: #212121;
  display: inline-block;
  margin: 0;
  transition: .15s ease-in;
  cursor: pointer;
}
.pagination li>a{
  border: none;
}
.pagination a:hover {
  background: rgba(26, 148, 129, 0.34);
}
.pagination a:focus {
  outline: none;
}
.pagination .pagination-number,
.pagination .pagination-arrow i {
  vertical-align: middle;
}
.pagination .pagination-number {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  min-width: 40px;
  padding: 8px 0;
  margin: 0px 2px;
}
li.selected a {
  background: #1A9481;
  color: #fff;
}
.pagination .pagination-arrow i {
  font-size: 24px;
  padding: 8px;
}
